## Average height in japan

## Import libaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# scipi is a library for statistical tests and visualizations 
from scipy import stats
# random enables us to generate random numbers
import random

## Sourcing and loading

In [4]:
man = 'man.csv'

# Read the csv file into a data frame called Google using the read_csv() pandas method.
Man = pd.read_csv(man)

# Using the head() pandas method, observe the first three entries.
Man.head(3)

,year,category,height_average,height_standard deviation,body weight _average,body weight _standard deviation
0,5,national,111.0,4.87,19.3,2.79
1,5,Hokkaido,111.3,4.81,19.3,2.83
2,5,Aomori,111.8,4.87,19.9,2.78

In [7]:
woman = 'woman.csv'

# Read the csv file into a data frame called Google using the read_csv() pandas method.
Woman = pd.read_csv(woman)

# Using the head() pandas method, observe the first three entries.
Woman.head(3)

,year,category,height_average_1,height_standard deviation_2,body weight _average_3,body weight _standard deviation_4
0,5,national,110.1,4.86,19.0,2.74
1,5,Hokkaido,110.1,4.90,18.9,2.98
2,5,Aomori,111.0,4.95,19.5,2.98